// @media screen and (max-width:600px) {
//     header{
//         padding: 0;
//     }
//     header .right-header{
//         padding: 2rem !important;
//     }
//     .controls{
//         top: auto;
//         bottom: 0;
//         flex-direction: row;
//         justify-content: center;
//         left: 50%;
//         transform: translate(-50%);
//         width: 100%;
//         background-color: var(--color-grey-5);
//         .control{
//             margin: 1rem .3rem;
//         }
//     }
// }